#root {
width: 95%;
  margin: 0 auto;
}

h1 {
    text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding: 1rem;
  flex-wrap: wrap; /* optional for responsiveness */
}

.datablock {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 400px;
}

.content {
  background-color: #1e1e2f;
  color: #fff;
  border: 1px solid #444;
  padding: 1rem;
  font-family: monospace;
  font-size: 14px;
  resize: vertical;
  margin-top: 1rem;
  width: 100%;
  box-sizing: border-box;
  min-height: 500px;
  overflow-x: scroll;
}

input[type="file"] {
  appearance: none;
  background-color: #111;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 14px;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
}

input[type="file"]::file-selector-button {
  background-color: #111;
  color: #fff;
  border: 1px solid #333;
  padding: 0.5rem 1rem;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 0.75rem;
}

input[type="file"]::file-selector-button:hover {
  background-color: #222;
}


button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 14px;
  cursor: pointer;
  background-color: #111;
  color: #fff;
  border: 1px solid #333;
  margin-right: 0.5rem;
  width: 100%;
}

button:hover {
  background-color: #222;
}
